#floorplan {
    height: 100%;  
}

#floorplan{
    width: 100%;  
	float: left;
}
button.btn-sm {
    padding: 2px 8px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
}

input[type="text"] {
    padding: 2px 6px;
    font-size: 12px;
    height: 24px;
}
