<div style="display: flex; align-items: center; padding-bottom: 15px; padding-top: 10px; margin-left: 10px;" *ngIf="!showComp2">
  <a href="https://cadviewer.com/cadviewertechdocs" style="text-decoration: none; margin-right: 15px; display: inline-block;">
    <img src="assets/cadviewer-primary-logo.svg" height="55" alt="CADViewer Logo" style="display: block;" />
  </a>
  <div style="flex: 1;">
    <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 5px;">
      <h4 style="margin: 0;">
        CADViewer: <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" width="24" height="24" style="vertical-align: middle; margin-top: -4px;" alt="Angular Logo" /> <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" width="24" height="24" style="vertical-align: middle; margin-top: -4px;" alt="NodeJS Logo" /> Angular 21 & NodeJS Sample
      </h4>
      
      <span style="font-size: 16px; font-weight: bold; margin-right: 15px;">
        <a href="https://github.com/CADViewer/cadviewer-testapp-angular-02" target="_blank" style="text-decoration: none; color: #0366d6; background-color: #f6f8fa; padding: 4px 10px; border-radius: 6px; border: 1px solid #d1d5da; display: inline-block;">
          <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" width="20" height="20" alt="GitHub Logo" style="vertical-align: middle;"/>
          <span style="vertical-align: middle; margin-left: 5px;">Pull or clone from GitHub</span>
        </a>
      </span>
    </div>
    <div style="font-size: 13px; color: #333;">
      Read <a href="https://cadviewer.com/highlight/main/">Create Hotspots</a>, 
      <a href="https://cadviewer.com/highlight2/main/">Edit Spaces</a> and our <a href="https://cadviewer.com/cadviewertechdocs/">Tech Docs</a>. <b>NOTE:</b> You must install the <a href="https://github.com/CADViewer/cadviewer-conversion-server">Back-End CAD conversion server!</a>
      Have fun and contact us at <a href="mailto:developer@cadviewer.com">developer@cadviewer.com</a> or <a href="mailto:intern@cadviewer.com">intern@cadviewer.com</a>.
    </div>
  </div>
</div>

<div style="margin-left: 10px; padding-bottom: 10px;" *ngIf="!showComp2">
  <button class="btn btn-primary" (click)="showComp2 = !showComp2">Initialize CADViewer Application</button>
</div>

<app-cadviewer *ngIf="showComp2"></app-cadviewer>
<router-outlet></router-outlet>
